.idea/
analysis/Screenshots/
analysis/opencv_code/colorspp/colorspp/Debug/
analysis/opencv_code/colorspp/Debug/
analysis/opencv_code/get_emd/Debug/
analysis/opencv_code/get_emd/get_emd/Debug/
analysis/opencv_code/get_emd/get_emd/Release/
analysis/opencv_code/get_emd/Release/
analysis/opencv_code/grey_out/Debug/
analysis/opencv_code/grey_out/grey_out/Debug/
analysis/opencv_code/grey_out/grey_out/Release/
analysis/opencv_code/grey_out/Release/
analysis/Image Comparison/.metadata/
analysis/Image Comparison/CI1/.settings/
analysis/Image Comparison/CI1/bin/
analysis/Image Comparison/CI1/build/
analysis/Image Comparison/CI1/.classpath
analysis/Image Comparison/CI1/.project
Screenshots/
collectData/__init__.pyc
collectData/collectData.pyc
collectData/dbutils.pyc
collectData/winutils.pyc
Java/release
Java/source/.metadata/
config- bk.json
config - gc.json
out.txt
README.txt
sql_err.txt